
/* The navigation bar code */


#nav {
    border-bottom: #e0e0e0 1px solid; /* gives the navbar a border on it's... BOTTOM (in-joke) */
    padding: 0; /* makes the header display at the top */
    top: 0px; /* makes the header as an element display at the top */
    background-color: rgba(255, 255, 255, 0.97); /* makes the header colour become white */
    width: 100%; /* makes the header span the entire width of the page */
    height: 65px; /* specifies the height of the header */
    box-shadow: 0 0 6px #a8a8a8; /* gives the header a drop shadow */
    position: fixed; /* makes the header stay static, at the top of the screen */
    margin-top: 0; /* displays the text as an element 0 pixels from the top */
    list-style-type: none; /* makes sure that there will be no bullet points */
}

#timetablesmall {
    float: right;
    margin-top: 7px;
    margin-right: 6px;
}

#timetablesmall .timetable {
    opacity: 0;
    display: none;
    position: absolute;
    margin: auto;
    top: 710px; bottom: 0; left: 0; right: 0;
    box-shadow: 0 0 10px #9b9b9b;
    border: #f4fdff 1px solid;
    border-radius: 4px;
    -webkit-transition: opacity 0.3s;
}

#timetablesmall:hover .timetable {
    width: 480px;
    height: auto;
    display: block;
    opacity: 1;
}

#twitterlink {
    float: right;
    margin-top: 8px;
    margin-right: 15px;
}

#youtubelink {
    margin-right: 5px;
    margin-top: 9px;
    line-height: 65px;
    float: right;
}

#nav li:hover {
    background-color: #edfcff /* when hovering over something it goes blue */
}
#nav ul {
    padding: 0px; /* makes the lists not push each other around */
    top: 0; /* makes the list display at the top */
    margin: 0; /* makes the lists not care about  */
}

#nav li {
    display: inline-block; /* displays the text in a horisontal line of blocks */
    padding: 0px; /* makes the list items display at the very left */
    margin-top: -1px; /* this is important but I don't actually know why I thought to put it here */
}

#nav li a {
    top: 0; /* makes the links display at the top */
    margin-top: 0; /* wait wait wait... haven't I already set this in the parent element? */
    text-decoration: none; /* removes things like the automatic underline that being a hyperlink gives it */
    padding-left: 21px; /* makes the links have ___ amount of padding to ___ direction */
    padding-top: 28px;
    padding-right: 46px;
    padding-bottom: 22px;
    line-height: 60px; /* makes the text display slightly above halfway up */
}

#nav li a #more {
    padding-right: 50px; /* gives more it's own padding to make it look nice :3 */
}

#nav ul ul {
    top: -9999px; /* makes sure that no matter how much you stretch your browser out you can't see the dropdown links */
    left: -9999px;
    position: absolute; /* The links don't move no matter how hard you try... kinda like James. */
    background-color: #f0fbff; /* the background colour of the menu is the same as that of the hover colour of the links */
    font-size: 0px; /* Even if you could expand your browser enough, you couldn't see the text. MWHAHAHAHAHA */
}

#nav ul li:hover > ul { /* when you hover over an unorganised list item that has a list beneath it, then set that list to... */
    top: 0; /* make the list display at the top of the page with the margin*/
    left: 540px; /* displays 540px from the left */
    text-decoration: none; /* no fancy underlines or colours. */
    height: 207px; /* 207 pixels tall */
    width: 166px; /* 166 pixels tall */
    margin-top: 65px; /* displays just under nav */
    margin-left: 0; /* doesn't care about the left wall. It broke the walls heart. D; */
    text-align: left; /* the text is aligned to the left */
    background-color: #edfcff; /* when hovering over the text, the background is set slightly darker */
    opacity: 1; /* displays opaque */
}

#nav ul ul li a {
    padding-left: 0;
    padding-right: 21px;
}

#nav ul ul li:hover {
    background-color: #d3f8ff;
}

#nav ul ul li .tests {
    padding-right: 67px;
}

#nav ul ul li .notes {
    padding-right: 57px;
}

#nav ul ul li .updates {
    padding-right: 18px;
}

#nav ul li ul div li {
    opacity: 0;
    
}

#nav ul li:hover ul div li {
    opacity: 1;
}
