
/* The navigation bar code */


#nav {
    border-bottom: #e0e0e0 1px solid;
    padding: 0;
    top: 0px; /* makes the header as an element display at the top */
    background-color: #fff; /* makes the header colour become white */
    width: 100%; /* makes the header span the entire width of the page */
    height: 65px; /* specifies the height of the header */
    box-shadow: 0 0 6px #a8a8a8; /* gives the header a drop shadow */
    position: fixed; /* makes the header stay static, at the top of the screen */
    margin-top: 0; /* displays the text as an element 0 pixels from the top */
    list-style-type: none; /* makes sure that there will be no bullet points */
}

#nav li:hover {
    background-color: #edfcff
}
#nav ul {
    padding: 0px;
    top: 0;
    margin: 0;
}

#nav li {
    display: inline-block; /* displays the text in a horisontal line of blocks */
    padding: 0px;
    margin-top: -1px;
}

#nav li a {
    top: 0;
    margin-top: 0;
    text-decoration: none; /* removes things like the automatic underline that being a hyperlink gives it */
    padding-left: 21px;
    padding-top: 28px;
    padding-right: 46px;
    padding-bottom: 22px;
    line-height: 60px;
}

#nav li a #more {
    padding-right: 50px;
}

#nav ul ul {
    opacity: 0;
    height: 0;
    width: 0;
    top: -9999px;
    left: -9999px;
    position: absolute;
    background-color: #f0fbff;
    font-size: 0;
}

#nav ul li:hover > ul { /* when you hover over an unorganised list item that has a list beneath it, then set that list to... */
    top: 0;
    left: 540px;
    text-decoration: none;
    height: 200px;
    width: 166px;
    margin-top: 65px;
    margin-left: 0;
    text-align: left;
    background-color: #edfcff;
    opacity: 1;
}

#nav ul ul li a {
    padding-left: 0;
    padding-right: 21px;
}

#nav ul ul li:hover {
    background-color: #d3f8ff;
}

#nav ul ul li .tests {
    padding-right: 67px;
}

#nav ul ul li .notes {
    padding-right: 57px;
}

#nav ul ul li .updates {
    padding-right: 18px;
}

